<ion-view  can-swipe-back="false">
  <ion-nav-bar class="bar-calm">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button border-0" ng-click="doSomething()">
        注册
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll='false' class="stable" >
    <div class="list">
      <label class="item item-input">
        <input type="tel" placeholder="手机号">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="密码">
      </label>

    </div>
  </div>

  </ion-content>
</ion-view>
